<% provide(:title,"About") %>
<h2 class="blue-text center" style="font-weight:600;">The Authors</h2>

<p class="center" style="font-size:16px;">This site was created by Debasish Mohanta and Roshni Padhi.</p>
<br>

<div class="section">
  <div class="row">
    <div class="col l4">
        <div class="card">
            <div class="card-image">
                <%= image_tag "debasish.jpg" %>
            </div>
        </div>
    </div>
    <div class="col l7 offset-l1">
        <h3 class="blue-text" style="font-weight: 600;">Hello, I'm <span class="red-text">Debasish</span>!</h3>
        <p class="red-text" style="font-weight: 600; font-size: 1.3em;">Software Development Student</p>
        <p style="font-size: larger;">I design and code beautifully simple things, and I love what I do.</p>
        <p style="font-size: large;">Designing and building things is my passion.I Design beautiful sites and softwares using many programming languages and Frameworks.I love to do such things.I've been working with software since the days I learned Ruby on Rails (2020).</p>
        <a href="" class="btn waves-effect waves-light deep-purple">READ MORE</a>
    </div>
  </div>
</div>
